<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ing. Geovanny Brito Casanova">
    <!--stylesheet-->
    <link href="img/favicon.ico" rel="shortcut icon" sizes="32x32">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="css/custom-responsive-styles.css" rel="stylesheet" type="text/css">
    <link href="css/estiloBW.css" rel="stylesheet"/>
    <link href="css/webSocketcss.css" rel="stylesheet" type="text/css"/>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <link href="css/estilo3.css" rel="stylesheet" type="text/css"/>
    <link href="css/cargando.css" rel="stylesheet" type="text/css"/>
    <link href="css/css-local/global.css" rel="stylesheet" type="text/css"/>
    <link href="css/css-local/css-index.css" rel="stylesheet" type="text/css"/>
    <link href="css/css-local/footer.css" rel="stylesheet" type="text/css"/>
    <link href="css/css-local/language.css" rel="stylesheet" type="text/css"/>

    <!--scripts-->
    <script src="js/js-library/jquery.min.js" type="text/javascript"></script>
    <script src="js/js-library/angular.js" type="text/javascript"></script>
    <script src="js/js-library/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/js-library/sweetalert2.min.js" type="text/javascript"></script>
    <script src="js/js-library/all-plugins.js" type="text/javascript"></script>
    <script src="js/js-library/plugins-activate.js" type="text/javascript"></script>
    <script src="js/js-library/plugins-activate.js" type="text/javascript"></script>
    <script src="js/js-library/console.image.js" type="text/javascript"></script>
    <script src="js/js-library/angular-route.js" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/92f6e27e1c.js" crossorigin="anonymous"></script>
    <!--https://www.google.com/adsense/-->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5936691491238742"
            crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CG1KFEDCG7"></script>
    <script src="js/google.js"></script>

    <title>CH - Home</title>
</head>

<body id="page-top" ng-controller="controllerHome">
<div class="language-selector">
    <label for="language-select">Select your language:</label>
    <select id="language-select" onchange="changeLanguage()">
        <option value="en" selected>English</option>
        <option value="es">Español</option>
    </select>
</div>
<div id="contenedor_carga">
    <div id="carga">

    </div>
</div>
<div class="logo">
    <a href="index.html">
        <img src="img/logo.png" alt="CH">
        <!--        <i class="fa fa-bomb" aria-hidden="true">-->
        <!--                <span style="color: white;">CH</span>-->
        <!--        </i>-->
    </a>
</div>
<section id="Banner" class="content-section">
    <div class="container content-wrap text-center">
        <h1>Challenge
            Hub
        </h1>
        <h3>
            <em>¡For LEGENDARY moments!</em><br>
        </h3>
        <a class="btn btn-primary btn-xl smooth-scroll" href="#Services"> <strong>¡PLAY!</strong></a>
    </div>
    <div class="overlay"></div>
</section>
<section id="Services" class="content-section text-center">
    <div class="container text-center">
        <div class="block-heading">
            <h2>What we offer</h2>
            <p>We want to give you good and unforgettable moments with your group of friends,
                in those parties that need to get out of the conventional</p>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="service-box">
                    <div class="service-icon divertido">
                        <div class="front-content">
                            <i class="flaticon-online-shop" aria-hidden="true"></i>
                            <h2 class="subtitle">FUN</h2>
                        </div>
                    </div>
                    <div class="service-content">
                        <h3><strong>+8 years</strong></h3>
                        <p>Have fun with unusual truths and dares.</p>
                        <br/>
                        <a class="btn btn-fun btn-block smooth-scroll btn smooth-scroll" ng-click="gotoplay('fun')">
                            <strong>¡START!</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-box ">
                    <div class="service-icon extremo">
                        <div class="front-content">
                            <i class="flaticon-teamwork" aria-hidden="true"></i>
                            <h2 class="subtitle">EXTREME</h2>
                        </div>
                    </div>
                    <div class="service-content">
                        <h3>+16 years</h3>
                        <p>You risk?.</p>
                        <br/>
                        <a class="btn btn-extreme btn-block smooth-scroll" ng-click="gotoplay('extreme')">
                            <strong>¡START!</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-box ">
                    <div class="service-icon erotico">
                        <div class="front-content">
                            <i class="flaticon-teamwork" aria-hidden="true"></i>
                            <h2 class="subtitle">INTIMATE</h2>
                        </div>
                    </div>
                    <div class="service-content">
                        <h3>+18 years</h3>
                        <p>Perfect to play as a couple, or well... to get it.</p>
                        <br/>
                        <a class="btn btn-erotico btn-block smooth-scroll" ng-click="gotoplay('erotic')">
                            <strong>¡START!</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-box">
                    <div class="service-icon full">
                        <div class="front-content">
                            <i class="flaticon-online-shopping-1" aria-hidden="true"></i>
                            <h2 class="subtitle">FULL</h2>
                        </div>
                    </div>
                    <div class="service-content">
                        <h3><strong>+18 years</strong></h3>
                        <p>ALL categories in this Level!</p>
                        <br/>
                        <a class="btn btn-full btn-block smooth-scroll" ng-click="gotoplay('full')" ng-app="">
                            <strong>¡START!</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="About" class="content-section text-center">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <div class="block-heading">
                    <h2>About</h2>
                </div>
                <p class="lead">This application is intended to encourage recreation among a group of friends,
                    forge and strengthen friendship. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="customers-testimonials" class="owl-carousel">
                    <div class="item">
                        <div class="shadow-effect">
                            <img class="img-circle" src="" alt="">
                            <p>You don't have to go back or give yourself momentum</p>
                        </div>
                        <div class="testimonial-name">Lao Tsé</div>
                    </div>
                    <div class="item">
                        <div class="shadow-effect">
                            <p>There are no paths to peace; The peace is the way</p>
                        </div>
                        <div class="testimonial-name">Mahatma Gandhi</div>
                    </div>
                    <div class="item">
                        <div class="shadow-effect">
                            <p>Arrecho never dies, and if he dies... ARRECHO dies!</p>
                        </div>
                        <div class="testimonial-name">Geovanny Brito Casanova</div>
                    </div>
                    <div class="item">
                        <div class="shadow-effect">
                            <p>Make love and not war</p>
                        </div>
                        <div class="testimonial-name">John Lennon</div>
                    </div>
                    <div class="item">
                        <div class="shadow-effect">
                            <p>To work, it is enough to be convinced of one thing: that working is less boring than
                                have fun</p>
                        </div>
                        <div class="testimonial-name">Amy Tan</div>
                    </div>
                    <div class="item">
                        <div class="shadow-effect">
                            <p>LThe worst thing the bad guys do is force us to doubt the good guys.</p>
                        </div>
                        <div class="testimonial-name">Jacinto Benavente</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-12">
            <footer class="mt-auto py-3 bg-light">
                <div class="container">
                    <div class="text-center social-icons">
                        <a href="https://www.facebook.com/geovannybricex" target="_blank"><i
                                class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/geovanny_bc/" target="_blank"><i
                                class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/geovannybricex" target="_blank"
                           class="linkedin-icon"><i
                                class="fab fa-linkedin"></i></a>
                    </div>
                    <p class="text-muted text-center mt-3">© 2023 ChallengeHub.</p>
                    <p class="text-muted text-center mt-3"> All rights reserved.</p>
                    <p class="text-muted text-center mt-3">Developed by:</p>
                    <p class="text-muted text-center mt-3">
                        Ing. Brito Casanova Geovanny.</p>
                </div>
            </footer>
        </div>
    </div>
</div>


<script src="js/propios/util.js" type="text/javascript"></script>
<script src="js/propios/languages.js" type="text/javascript"></script>
<script src="js/angular/app.js" type="text/javascript"></script>
<script src="js/angular/HomeController.js" type="text/javascript"></script>
</body>
</html>