/*.buscadorstyle{
    line-height: inherit;
    background-color: #ffffff;
    border: none ;
    color: #242222;
    outline: none;
    border-radius: 22px;
    box-sizing: border-box;
    font-size: 16px;
    height: 44 px;
    opacity: 1;
    position: relative;
    transition: none;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    width: 50%;      
    height: 44px;
    padding-inline-start: 52px;

}*/
h1 {
    font-size:180px;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background:#E2E2E2 !important;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background:#E2E2E2 !important;   
}
.box{
    border: 4px solid #E2E2E2;
    width: 500px;
    padding: 40px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #F2F2F2;
    text-align: center;
}

.box h1{
    color: black;
    text-transform: uppercase;
    font-weight: 500;


}
.btn h1{
    color: black;
    text-transform: uppercase;
    font-weight: 500;

}
.box input[type="text"],.box input[type="password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 4px solid #0a3d62;
    padding: 14px 10px;
    width: 370px;
    outline: none;
    color: black;

    transition: 0.25s;
}

.btn input[type="text"],.box input[type="password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 4px solid #0a3d62;
    padding: 14px 10px;
    width: 370px;
    outline: none;
    color: black;

    transition: 0.25s;

}
.box input[type="text"]:focus,.box input[type="password"]:focus{
    width: 430px;
    border-color: #71B280;
}
.btn input[type="text"]:focus,.box input[type="password"]:focus{
    width: 430px;
    border-color: #71B280;
}
.Inicio1{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: black;

    transition: 0.25s;
    cursor: pointer;

}
.Inicio{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: black;

    transition: 0.25s;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
}
.Inicio{
    border:0;
    background: none;
    display: box;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #fff;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: black;

    transition: 0.25s;
    cursor: pointer;
}
.Inicio1:hover {
    background: #2ecc71;
}
.Inicio {
    background: #a7c4c4;
}
.box p{
    font-size: 21px;
    color: black;
}
.btn p{
    font-size: 21px;
    color: black;
}
#registro{
    font-size: 10px;
    color:black;
}
#regitrarse{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: none;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: black;

    transition: 0.25s;
    cursor: pointer; 
}
#ingresar{
    border:0;
    background: none;
    /*display: block;*/
    margin: 20px auto;
    text-align: center;
    border: none;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer; 
    border: 2px solid #3b403d;
    /*    display: inline-block;*/
}
#ingresar:hover {
    background: #2fa880;;
}
.ingresarCategoria{
    border:0;
    background: none;
    /*display: block;*/
    margin: 20px auto;
    text-align: center;
    border: none;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer; 
    border: 2px solid #3b403d;
}
.ingresarCategoria:hover {
    background: #e6b627;
}
#modificar{
    border:0;
    background: none;
    /*display: block;*/
    margin: 20px auto;
    text-align: center;
    border: none;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer; 
    border: 2px solid #3b403d;
}
#modificar:hover {
    background: #41b5bb;
}
.ingresarAdmin{
    border:0;
    background: none;
    /*display: block;*/
    margin: 20px auto;
    text-align: center;
    border: none;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer; 
    border: 2px solid #3b403d;
}
.ingresarAdmin:hover {
    background: #b8d010;
}
#iista{
    border:0;
    background: none;
    /*display: block;*/
    margin: 20px auto;
    text-align: center;
    border: none;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    cursor: pointer; 
    border: 2px solid #3b403d;
}
.Inicio:hover{
    background: #2ecc71; 
}
.facebook{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #1e3799;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: black;

    transition: 0.25s;
    cursor: pointer;
}
.facebook:hover{
    background: #1e3799;
}
#google{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #eb2f06;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
#google:hover{
    background: #eb2f06;
}
.modal-body{
    background: #ffffff;
    color:black;
    /*font-size: 12px;*/
}
.titulos{
    border: #1e3799;
    background: none;
    display: block;
    margin: 8px;
    outline: gray;
    width: 200px;
    color: black;
    cursor: pointer;
}
.titulos1{
    display: block;
    margin: 10px auto;
    border: 4px solid #757b80;
    padding: 10px 10px;
    width: 420px;
    outline: gray;
    color: black;
    cursor: pointer;

}
.lista{
    display: block;
    margin: 10px auto;
    border: 4px solid #757b80;
    padding: 10px 10px;
    width: 420px;
    outline: gray;
    color: black;
    cursor: pointer;

}
.titulos1:focus {
    width: 430px;
    border-color: #71B280;
}

.modal-header{
    background: #948E99;
    color:black;
}
.modal-headerI{
    background: #2fa880;
    color:black;
}
.modal-headerC{
    background: #e6b627;
    color:black;
}
.modal-headerM{
    background: #41b5bb;
    color:black;
}
.modal-footer{
    background: #ffffff;
    color:black;
}
.facebookRegistro{
    border:0;
    background: #4267b2;
    text-align: center;
    display:block;
    text-align: center;
    border: 2px solid #4267b2;

    width: 250px;
    outline: none;
    color: white;
    border-radius: 5px;
    transition: 0.25s;
    cursor: pointer; 
    font-size: 20px;
    height: 50px;
}
.facebookRegistro:hover{
    background: #fff;
    color: black;

}
.Registrogoogle{
    border:0;
    background: none;
    display: box;
    margin: 10px;
    text-align: center;
    border: 2px solid #eb2f06;
    padding: 10px 20px;
    width: 200px;
    outline: none;
    color: black;

    transition: 0.25s;
    cursor: pointer; 
    border:0;
    background: none;
    text-align: center;
    margin: 10px;

    text-align: center;
    border: 2px solid #eb2f06;
    padding: 15px 30px;
    width: 210px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer; 

}
.Registrogoogle:hover{
    background: #eb2f06;
    color: black;
}

#RRegistro{
    border:0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 10px 20px;
    width: 200px;
    outline: none;
    color: black;
    transition: 0.25s;
    cursor: pointer; 
}
#RIngreso{
    border:0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 10px 20px;
    width: 200px;
    outline: none;
    color: black;

    transition: 0.25s;
    cursor: pointer; 
}
#RIngreso:hover{
    background: #2ecc71;
    color: black;
}
#RRegistro:hover{
    background: #2ecc71;
    color: black;
}
#Opcion{
    text-align: center;
    font-family: sans-serif;
    size: 35px;
}
#Opcion1{
    text-align: center;
    font-family: sans-serif;
    font-size: 11px;
}
.modal-headerC1{
    background: #b8d010;
    color:black;
}
.facebookNuevo{
    border:0;
    background: #4267b2;
    text-align: center;

    text-align: center;
    border: 2px solid #4267b2;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 5px;
    transition: 0.25s;
    cursor: pointer; 
    font-size: 20px;
    height: 50px;
    /*   background-image: "https://lh6.googleusercontent.com/-CYt37hfDnQ8/T3nNydojf_I/AAAAAAAAAr0/P5OtlZxV4rk/s32/facebook32.png";*/

}
.facebookNuevo:hover{
    background: #fff;
    color: black;
}

.inputWithIcon input[type=text]{
    padding-left: 40px;
}
.inputWithIcon{
    position: relative;
}
.inputWithIcon i{
    position: absolute;
    left: 0;
    top: 5px;
    padding: 3px 85px;
    color: #F2F2F2;

}
.inputWithIcon input[type=text]:focus + i{
    color: #4267b2;
}
