/* Personalización de los botones */
.btn-extreme {
    background-color: #00c555; /* Color de fondo */
    color: #fff; /* Color del texto */
    font-size: 20px; /* Tamaño del texto */
    border: 2px solid #00c555; /* Borde del botón */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    text-decoration: none; /* Quitar subrayado de los enlaces */
}

.btn-extreme:hover {
    background-color: #009342; /* Color de fondo al pasar el mouse */
    border-color: #009342; /* Borde al pasar el mouse */
}

.btn-extreme:focus {
    box-shadow: 0 0 0 3px rgba(105, 255, 117, 0.5); /* Resaltar al enfocar el botón */
}


/* Personalización de los botones */
.btn-full {
    background-color: #4677bb; /* Color de fondo */
    color: #fff; /* Color del texto */
    font-size: 20px; /* Tamaño del texto */
    border: 2px solid #4677bb; /* Borde del botón */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    text-decoration: none; /* Quitar subrayado de los enlaces */
}

.btn-full:hover {
    background-color: #1773c4; /* Color de fondo al pasar el mouse */
    border-color: #1773c4; /* Borde al pasar el mouse */
}

.btn-full:focus {
    box-shadow: 0 0 0 3px rgba(17, 80, 224, 0.5); /* Resaltar al enfocar el botón */
}


/* Personalización de los botones */
.btn-erotico {
    background-color: #ff4d80; /* Color de fondo */
    color: #fff; /* Color del texto */
    font-size: 20px; /* Tamaño del texto */
    border: 2px solid #ff4d80; /* Borde del botón */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    text-decoration: none; /* Quitar subrayado de los enlaces */
}

.btn-erotico:hover {
    background-color: rgba(180, 4, 49, 0.85); /* Color de fondo al pasar el mouse */
    border-color: rgba(180, 4, 49, 0.85); /* Borde al pasar el mouse */
}

.btn-erotico:focus {
    box-shadow: 0 0 0 3px rgba(239, 26, 26, 0.5); /* Resaltar al enfocar el botón */
}


/* Personalización de los botones */
.btn-fun {
    background-color: #fcc72e; /* Color de fondo */
    color: #fff; /* Color del texto */
    font-size: 20px; /* Tamaño del texto */
    border: 2px solid #fcc72e; /* Borde del botón */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    text-decoration: none; /* Quitar subrayado de los enlaces */
}

.btn-fun:hover {
    background-color: #d09a04; /* Color de fondo al pasar el mouse */
    border-color: #d09a04; /* Borde al pasar el mouse */
}

.btn-fun:focus {
    box-shadow: 0 0 0 3px rgba(255, 226, 27, 0.5); /* Resaltar al enfocar el botón */
}