/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/02/2021, 12:49:07
    Author     : geova
*/


span, strong, td, h1, h2, h3, h4, h5, h6 {
    cursor: default;
}

span, strong, td, h1, h2, h3, h4, h5, h6, a, img, label, div {
    -webkit-touch-callout: none !important; /* iOS Safari */
    -webkit-user-select: none !important; /* Safari */
    -khtml-user-select: none !important; /* ; Konqueror HTML */
    -moz-user-select: none !important; /* Old versions of Firefox */
    -ms-user-select: none !important; /* Internet Explorer/Edge */
    user-select: none !important; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

a {
    cursor: pointer;
}

a span {
    cursor: pointer;
}

.titleMenu span {
    cursor: pointer;
}


/*SCROLL*/

/* Personalización de la barra de scroll */
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del "pulgar" de la barra */
    border-radius: 6px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color del "pulgar" al pasar el mouse sobre él */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de la pista (fondo) de la barra */
}

/* Personalización de la barra de scroll horizontal (opcional) */
::-webkit-scrollbar-horizontal {
    height: 12px; /* Altura de la barra */
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: #888;
}

::-webkit-scrollbar-thumb:hover:horizontal {
    background-color: #555;
}

::-webkit-scrollbar-track:horizontal {
    background-color: #f1f1f1;
}

/* Personalización de la barra de scroll en Firefox */
/* Estilos para la barra vertical */
html {
    scrollbar-width: thin; /* Ancho de la barra */
    scrollbar-color: #888 #f1f1f1; /* Color del "pulgar" y fondo */
}

/* Estilos para el "pulgar" de la barra vertical */
html::-moz-scrollbar-thumb {
    background-color: #888; /* Color del "pulgar" de la barra */
    border-radius: 6px; /* Bordes redondeados */
}

/* Estilos para el "pulgar" de la barra vertical al pasar el mouse sobre él */
html::-moz-scrollbar-thumb:hover {
    background-color: #555; /* Color del "pulgar" al pasar el mouse sobre él */
}

/* Estilos para la barra horizontal (opcional) */
html::-moz-scrollbar-thumb:horizontal {
    background-color: #888;
}

/* Estilos para el "pulgar" de la barra horizontal al pasar el mouse sobre él */
html::-moz-scrollbar-thumb:hover:horizontal {
    background-color: #555;
}
